<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">2</div>
      <h1>Prueba conexión PostgreSQL - Asíncrona</h1>
      <p>http://localhost:3330/rapid/usuarios</p>
    </div>

    <button type="button" on-click="postBD">Asynchronous Request</button>

    <iron-ajax
      id="id_ajax"
      url="http://localhost:3330/rapid/usuarios"
      headers="[[headers]]"
      handle-as="json"
      loading="Getting..."
      method="GET"
      content-type="application/json"
      on-response="handleUsers"></iron-ajax>

    <template is="dom-repeat" items="[[listado]]">
      <div>Nombre = [[item.Nombre]]</div>
      <div>Usuario = [[item.IDUsuario]]</div>
      <div>Password = [[item.Password]]</div>
      <p></p>
    </template>
  </template>

  <script>
    Polymer({
      is: 'my-view2',
      properties: {
        headers: {
          computed: '_computeHeader(token)'
        },
        token: {
          type: String,
          value: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE0OTg1ODQzNDd9.AMHb3GE9Jo1mZ2iOgVKjhMcntdV2E72CL-skem5kWyo"
        },
        listado: {
          type: Array,
          notify: true,
          value: [
            {"Nombre":"Pancho Villa","IDUsuario":"pvilla@gmail.com","Password":"ahorita"}
          ]
        }
      },
      _computeHeader: function(token) {
        return {Authorization: 'Bearer ' + token};
      },
      postBD: function() {
        this.$.id_ajax.generateRequest();
      },
      handleUsers: function (e,request){
        this.set('listado',request.response)
        console.log(this.listado);
      }
    })
  </script>
</dom-module>
