<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">1</div>
      <h1>Prueba conexión PostgreSQL - Síncrona</h1>
      <p>http://localhost:3330/rapid/usuarios</p>
    </div>

    <button type="button" on-click="postBD">Synchronous Request</button>
    <template is="dom-repeat" items="[[listado]]">
      <div>Nombre = [[item.Nombre]]</div>
      <div>Usuario = [[item.IDUsuario]]</div>
      <div>Password = [[item.Password]]</div>
      <p></p>
    </template>
  </template>

  <script>
    /*
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }

      static get properties() {
        return {

          urlPostgreSQL: {
            type: String,
            value: "http://localhost:3330/rapid/usuarios"
          },
          token: {
            type: String,
            value: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE0OTg1ODQzNDd9.AMHb3GE9Jo1mZ2iOgVKjhMcntdV2E72CL-skem5kWyo"
          },
          headerName: {
            type: String,
            value: "Authorization"
          },
          headerValue: {
            type: String,
            value: "Bearer "
          },
          listado: {
            type: Array,
            notify: true,
            value: [
              {"Nombre":"Pancho Villa","IDUsuario":"pvilla@gmail.com","Password":"ahorita"}
            ]
          }
        }
      }

      postBD() {
        var peticion = new XMLHttpRequest();
        peticion.open("GET", this.urlPostgreSQL, false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.setRequestHeader(this.headerName, this.headerValue + this.token);
        peticion.send();
        this.listado = JSON.parse(peticion.responseText);
        console.log(peticion.responseText);
      }
    }

    window.customElements.define(MyView1.is, MyView1);
    */

    //Utilizo la otra notación para definir el componente Polymer
    Polymer({
      is: 'my-view1',
      properties: {
        urlPostgreSQL: {
          type: String,
          value: "http://localhost:3330/rapid/usuarios"
        },
        token: {
          type: String,
          value: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE0OTg1ODQzNDd9.AMHb3GE9Jo1mZ2iOgVKjhMcntdV2E72CL-skem5kWyo"
        },
        headerName: {
          type: String,
          value: "Authorization"
        },
        headerValue: {
          type: String,
          value: "Bearer "
        },
        listado: {
          type: Array,
          notify: true,
          value: [
            {"Nombre":"Pancho Villa","IDUsuario":"pvilla@gmail.com","Password":"ahorita"}
          ]
        }
      },
      postBD: function() {
        var peticion = new XMLHttpRequest();
        peticion.open("GET", this.urlPostgreSQL, false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.setRequestHeader(this.headerName, this.headerValue + this.token);
        peticion.send();
        this.listado = JSON.parse(peticion.responseText);
        console.log(peticion.responseText);
      }
    })
  </script>
</dom-module>
